<div class="rewardspoints">
  <div class = "rewards">
    <div class="image1">
      <img src="../assets/reward-img.png" height="35px" width="35px">
      <div>
        <h3>
       Allocated Points
       </h3>
       </div>
       <p>
       Available to Reward:
       </p>
       <button type="button" class="rewards-associate">Rewards associate</button>
       </div>
    </div>

    <div class ="points">
      <div class="image2">
        <img src="../assets/redeem-img.png" height="35px" width="35px">
      </div>
      <div>

        <h3>
          Earned Points
        </h3>
        </div>
        <p>
          Available to Redeem:
        </p>
        <button type="button" class="redeem-points">Redeem Points</button>
    </div>
</div>
