<div  class ="employee1">
  <div class="Profile">
    <img src="../assets/profile-pic.png"  height="75px" width="75px">
    <div>
      <p class="emp-name">Employee Name</p>
      <p class="designation">Designation</p>
    </div>
  </div>
    <div class="Activity">
       <button type="button" style="margin: 2px; border-radius: 8px;">Feed</button>
       <button type="button" style="margin: 2px; border-radius: 8px;">Activity</button>
       <button type="button" style="margin: 2px; border-radius: 8px;">Friends</button>
       <button type="button" style="border-radius: 8px;">Profile</button>
    </div>
</div>


