<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <img src="../assets/intellect-Logo.png" alt="" height="50px" width="150px">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li>
                 <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                   <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline"><h5>Dashboard</h5></span> </a>
                </li>
                <li>
                  <a href="#" class="nav-link px-0 align-middle">
                  <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Home</span></a>
                </li>
                <li>
                  <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline"><h5>Rewards & Points</h5></span></a>
                  <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                  </ul>
                </li>
                <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline"><li>Rewards associate</li>
                              <li>Redeem Points</li>
                     </span>
                    </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                               </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline"><h5>Account Settings </h5></span> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


<!-- <header>
  <img src="../assets/intellect-Logo.png" alt="" height="30px" width="150px">
  <nav>

      <ul>
          <a>
            <h3>Dashboard</h3></a>

          <a>Home</a>
          <a>
            <h3>Rewards & Points </h3></a>
          <a>Rewards associate</a>
         <a>Redeem Points</a>
          <a>
            <h3>Account Settings </h3></a>
          <a>Configuration</a>
      </ul>
  </nav>
</header> -->


