.greeting12{
    border: 2px solid gray;
    border-radius: 15px;
    /*margin: 5px;
    */padding: 30px;
    width: 500px;
    height: 150px;
    text-align: center;
    background-color: rgb(84, 84, 214);
    justify-content: space-around;
    /*justify-content: center;
    */align-items: center;

}


